$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

@include font-face("Lato", 400, normal, url("./../../fonts/lato/Lato-Regular.woff2") format("woff2"));
@include font-face("Oswald", 400, normal, url("./../../fonts/oswald/oswaldregular.woff2") format("woff2"));
/* @font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("./../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
} */

/* @font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("./../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
} */
