/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
