$base-color-text: #444444;
$bg-basic-green: #68b738;
$bg-button-special: #f2f2f2;
$light: #ffffff;
$dark: #000000;
$special-dark: #222222;
$light-dark: #111111;
$special-grey: #666666;
$light-grey: #eaeaea;
