// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

//Fonts
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

//Colors
$base-color-text: #444444;
$bg-basic-green: #68b738;
$bg-basic-middle: #5eaa2f;
$bg-button-special: #f2f2f2;
$light: #ffffff;
$dark: #000000;
$special-dark: #222222;
$light-dark: #111111;
$special-grey: #666666;
$light-grey: #eaeaea;
$border-grey: #ebebeb;
$line-border: #d9d9d9;
$nav-border: #e6e6e6;
$field-border:#cdcdcd;
$special-light-grey: #3e3e3e;
$status-error: #ff8282;
