.additional-card {
  border-top: 1px solid $line-border;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 320px 280px 250px;
  }

  &__title {
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: $special-dark;
    text-transform: uppercase;
    padding-top: 13px;
    margin: 0 0 13px;

    @media (min-width: $desktop-width) {
      grid-column: 1 / 2;
    }
  }

  &__characteristics {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px;

    @media (min-width: $desktop-width) {
      grid-column: 2 / 3;
    }

    &-package {
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
    }
  }

  &__button {
    display: block;
    width: 280px;
    padding: 10px 20px;
    margin-bottom: 19px;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 630px;
      grid-column: 1 / -1;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
      grid-column: 3 / 4;
    }
  }
}

.additional-card:last-child {
  border-bottom: 1px solid $line-border;
}
