.additional-products {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &__title {
    font-family: $secondary-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: $dark;
    width: 226px;
    margin: 0 0 36px;
    padding-top: 25px;
    position: relative;

    @media (min-width: $tablet-width) {
      font-size: 32px;
      line-height: 32px;
      padding-top: 74px;
      width: 305px;
      margin: 0 0 80px 40px;
    }
  }

  &__title::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 89px;
      left: -106%;
      background-color: $bg-basic-green;
    }
  }

  &__title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 34px;
    right: -270px;
    background-color: $bg-basic-green;

    @media (min-width: $tablet-width) {
      top: 89px;
      right: -350px;
    }
  }

  &__box {
    width: 100%;
    margin: 0 auto;

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }

  &__list {
    list-style-type: none;
    width: 280px;
    margin: 0 auto;
    padding: 0;

    @media (min-width: $tablet-width) {
      width: 708px;
    }

    @media (min-width: $desktop-width) {
      width: 900px;
    }
  }

  &__promo {
    width: 280px;
    min-height: 290px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end; */
    background:
      linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 700px, transparent 180px),
      image-set(
        url("../../images/background-promotion-mobile@1x.webp") 1x type("image/webp"),
        url("../../images/background-promotion-mobile@1x.jpg") 1x,
        url("../../images/background-promotion-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/background-promotion-mobile@2x.jpg") 2x);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin: 35px auto 0;

    @media (min-width: $tablet-width) {
      width: 707px;
      min-height: 200px;
      background:
        linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 700px, transparent 180px),
        image-set(
          url("../../images/background-promotion-tablet@1x.webp") 1x type("image/webp"),
          url("../../images/background-promotion-tablet@1x.jpg") 1x,
          url("../../images/background-promotion-tablet@2x.webp") 2x type("image/webp"),
          url("../../images/background-promotion-tablet@2x.jpg") 2x);
      background-repeat: no-repeat;
      background-size: contain;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
      min-height: 288px;
    }
  }

  &__promo::after {
    content: "";
    position: absolute;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#icon-gift");
    background-repeat: no-repeat;
    background-size: 78px 80px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 82px;
      top: 50%;
      transform: translateY(-50%);
      left: 85px;
    }
  }

  &__promo-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $light;
    width: 161px;
    margin: 0 auto;
    text-align: center;
    padding: 186px 0 20px;

    @media (min-width: $tablet-width) {
      padding: 71px 0 20px;
      margin-right: 125px;
      text-align: left;
    }
  }
}
