.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  background-color: $bg-basic-green;
  color: $light;
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
