.card-more {
  background-image: url("../../icons/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: 30px 30px;
  /* width: 100%; */
  text-align: center;
  /* margin: 0 auto; */
  padding: 20px 25px;
  outline: 2px solid #ff0000;
  outline-offset: -2px;

  &__title {
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $light-dark;
    text-transform: uppercase;
    margin: 0;
    padding-top: 78px;
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }

  &__button {
    display: block;
    width: 280px;
    color: $light-dark;
    background-color: $bg-button-special;
  }
}
