.catalog {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }

  &__wrapper {
    width: 320px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 708px;
    }

    @media (min-width: $desktop-width) {
      width: 1220px;
    }
  }

  &__title {
    font-family: $secondary-font;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: $dark;
    width: 279px;
    margin: 0 0 41px;
    padding-left: 20px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      width: 600px;
      margin: 0 0 84px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 84px;
    }
  }

  &__list {
    list-style-type: none;
    width: 320px;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: end;

    @media (min-width: $tablet-width) {
      width: 708px;
      grid-template-columns: repeat(2, 324px);
      gap: 60px;
    }

    @media (min-width: $desktop-width) {
      width: 1220px;
      grid-template-columns: repeat(4, 245px);
      gap: 80px;
    }
  }

  &__item {
    width: 320px;
    min-height: 209px;
    border-top: 1px solid $border-grey;

    @media (min-width: $tablet-width) {
      border-top: none;
      width: 324px;
      min-height: 511px;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
    }
  }

  &__item:last-child {
    border-bottom: 1px solid $border-grey;
  }
}
