.copyright__text {
  font-size: 16px;
  line-height: 20px;
  width: 113px;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0 25px 0 0;
    padding: 9px 0;
  }
}

.copyright__img {
  width: 27px;
  height: 34px;
}

.copyright:hover {
  .copyright__img {
    color: $bg-basic-green;
  }
}

.copyright:active {
  .copyright__text,
  .copyright__img {
    opacity: 0.3;
  }
}
