.features {
  padding: 20px 0 49px;

  @media (min-width: $tablet-width) {
    padding: 45px 0 47px;
    border-bottom: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
    padding: 75px 0 69px;
  }
}

.features__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.features__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $dark;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}

.features__list {
  list-style-type: none;
  display: grid;
  gap: 20px;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 247px 249px;
    gap: 37px 137px;
    counter-reset: features__list; /* устанавливает значение счетчика advantages__list на 0. */
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-template-columns: repeat(4, 250px);
    gap: 75px;
    margin: 0 auto;
  }
}

.features__item {
  min-height: 60px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }

  &::after {
    @media (min-width: $tablet-width) {
      counter-increment: features__list; /* увеличивает значение счетчика features__list на 1. */
      content: counter(features__list); /* выводит значение счетчика features__list. */
      position: absolute;
      font-family: $secondary-font;
      font-size: 280px;
      line-height: 280px;
      color: $bg-button-special;
      z-index: -4;
      top: 0;
      right: 0;
    }
  }

  &--leaf::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#icon-features-leaf");
    background-repeat: no-repeat;
    background-size: 30px 32px;
    background-position: center center;
    background-color: $bg-basic-green;
    top: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      top: 40px;
    }
  }

  &--water::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#icon-features-water");
    background-repeat: no-repeat;
    background-size: 26px 29px;
    background-position: center center;
    background-color: $bg-basic-green;
    top: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      top: 40px;
    }
  }

  &--eat::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#icon-features-eat");
    background-repeat: no-repeat;
    background-size: 30px 32px;
    background-position: center center;
    background-color: $bg-basic-green;
    top: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      top: 40px;
    }
  }

  &--clock::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#icon-features-clock");
    background-repeat: no-repeat;
    background-size: 26px 31px;
    background-position: center center;
    background-color: $bg-basic-green;
    top: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      top: 40px;
    }
  }
}

.features__text {
  margin: 0;
  padding: 1px 5px 5px 80px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 151px 2px 57px 0;
    text-align: left;
    z-index: 5;
  }
}
