.header {
  background-color: $light;
  min-height: 68px;

  @media (min-width: $tablet-width) {
    min-height: 50px;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    position: relative;
    min-height: 60px;
    z-index: 10;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    @media (min-width: $tablet-width) {
      padding: 25px 0 0;
    }

    @media (min-width: $desktop-width) {
      width: 1220px;
      margin: 0 auto;
      padding-top: 55px;
      border: 2px solid #f00000;
    }
  }

  &__logo {
    height: 38px;
    display: flex;
    align-items: center;

    @media (min-width: $tablet-width) {
      height: 50px;
    }

    @media (min-width: $desktop-width) {
      min-height: 60px;
    }
  }
}
