.hero {
  background-color: $bg-basic-green;

  &__title {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: $light;
    text-transform: uppercase;
  }

  &__text {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $light;
    text-transform: uppercase;
  }
}