.logo__image {
  width: 33px;
  height: 38px;
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 60px;
    margin-right: 14px;
  }
}

.logo__text {
  width: 101px;
  height: 18px;

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 22px;
  }
}
