.logo__link {
  height: 38px;
  display: flex;
  align-items: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    min-height: 60px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  width: 33px;
  height: 38px;
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 60px;
    margin-right: 14px;
  }
}

.logo__text {
  width: 101px;
  height: 18px;

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 22px;
  }
}
