.map {
  @media (min-width: $desktop-width) {
    position: relative;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    padding: 26px 0;
    width: 280px;

    @media (min-width: $tablet-width) {
      width: 628px;
      margin: 0 70px;
      padding: 60px 0;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      top: 95px;
      background-color: $light;
    }
  }

  &__title {
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $dark;
    width: 140px;
    text-transform: uppercase;
    margin: 0;

    @media (min-width: $tablet-width) {
      width: 165px;
      margin-right: 50px;
    }
  }

  &__address {
    line-height: 20px;
    font-style: normal;
    width: 140px;

    @media (min-width: $tablet-width) {
      width: 200px;
    }
  }

  &__img-box {
    width: 320px;
    height: 362px;
    background:
      image-set(
        url("../../images/map-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/map-mobile@2x.webp") type("image/webp") 2x,
        url("../../images/map-mobile@1x.jpg") type("image/jpеg") 1x,
        url("../../images/map-mobile@2x.jpg") type("image/jpеg") 2x
      );
    background-repeat: no-repeat;
    background-size: 320px 362px;

    @media (min-width: $tablet-width) {
      width: 768px;
      background:
        image-set(
          url("../../images/map-tablet@1x.webp") type("image/webp") 1x,
          url("../../images/map-tablet@2x.webp") type("image/webp") 2x,
          url("../../images/map-tablet@1x.jpg") type("image/jpеg") 1x,
          url("../../images/map-tablet@2x.jpg") type("image/jpеg") 2x
        );
      background-size: 768px 400px;
    }

    @media (min-width: $desktop-width) {
      width: 1440px;
      background:
        image-set(
          url("../../images/map-desktop@1x.webp") type("image/webp") 1x,
          url("../../images/map-desktop@2x.webp") type("image/webp") 2x,
          url("../../images/map-desktop@1x.jpg") type("image/jpеg") 1x,
          url("../../images/map-desktop@2x.jpg") type("image/jpеg") 2x
        );
      background-size: 1440px 400px;
    }
  }
}
