.map {
  &__title {
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $dark;
  }

  &__address {
    line-height: 20px;
    font-style: normal;
  }
}
