.navigation {
  background-color: $light;
}

.navigation__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 500px;
  }
}

.navigation__toggle {
  width: 24px;
  height: 24px;
  background-color: $light;
  border: none;
  padding: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--opened .navigation__toggle::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 25px;
  right: 23px;
  background-image: url("../../icons/stack.svg#icon-burger-close");
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.navigation--closed .navigation__toggle::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 22px;
  right: 20px;
  background-image: url("../../icons/stack.svg#icon-burger");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.navigation--opened .navigation__list {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: $light;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    flex-direction: row;
    width: 500px;
  }
}

.navigation--closed .navigation__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 500px;
  }
}
