.navigation {
  background-color: $light;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.navigation__list {
  @media (min-width: $tablet-width) {
    width: 436px;
  }
}

.navigation__toggle {
  position: absolute;
  top: 20px;
  right: 21px;
  width: 24px;
  height: 24px;
  background-color: $light;
  border: none;
  padding: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--opened .navigation__toggle {
  width: 18px;
  height: 18px;
  background-image: url("../../icons/stack.svg#icon-burger-close");
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.navigation--closed .navigation__toggle {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#icon-burger");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.navigation--opened .navigation__list {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: $light;
  display: block;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    flex-flow: row wrap;
  }

  /* @media (min-width: $desktop-width) {
    background-color: transparent;
    width: 100%;
  } */
}

.navigation--closed .navigation__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
  }

  /* @media (min-width: $desktop-width) {
    width: 486px;
  } */
}

.navigation--nojs .navigation__toggle {
  display: none; /* При выключенных скриптах кнопка не должна отображаться */
}

.navigation--nojs .navigation__list {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}
