.navigation {
  /* width: 24px;
  height: 24px; */
  outline: 3px solid #667981;
  outline-offset: -3px;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* display: none; */
    flex-direction: column;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
    }
  }

  &__link {
    font-family: $secondary-font;
    font-size: 20px;
    line-height: 20px;
    color: $dark;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.navigation__toggle {
  width: 24px;
  height: 24px;
  background-color: $light;
  border: none;
  padding: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--opened .navigation__toggle::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 10px;
  right: 23px;
  background-image: url("../../icons/stack.svg#icon-burger-close");
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.navigation--closed .navigation__toggle::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  right: 20px;
  background-image: url("../../icons/stack.svg#icon-burger");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
