.programs {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $tablet-width) {
      gap: 30px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      gap: 80px;
    }
  }

  &__item {
    background-color: $bg-button-special;

    @media (min-width: $desktop-width) {
      width: 570px;
    }
  }

  &__item-title {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: $dark;
    text-transform: uppercase;
    padding: 30px 20px 0 90px;
    margin: 0 0 30px;
    position: relative;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
      padding: 77px 20px 0 53px;
      margin-bottom: 24px;
    }

    @media (min-width: $desktop-width) {
      padding: 77px 20px 0 214px;
      margin-bottom: 73px;
    }
  }

  &__item-title--slim::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#icon-cat-catalog-slim");
    background-repeat: no-repeat;
    background-size: 36px 50px;
    width: 36px;
    height: 50px;
    top: 20px;
    left: 27px;
    z-index: 6;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      background-size: 140px 194px;
      top: 81px;
      left: 475px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      background-size: 70px 97px;
      top: 41px;
      left: 67px;
    }
  }

  &__item-title--slim::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 53px;
    background-color: $bg-basic-green;
    border-radius: 50%;
    top: 22px;
    left: 20px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      top: 92px;
      left: 445px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  &__item-title--pro::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#icon-cat-catalog-pro-new");
    background-repeat: no-repeat;
    background-size: 67px 28px;
    width: 67px;
    height: 28px;
    top: 50%;
    left: 12px;
    z-index: 4;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      background-size: 268px 112px;
      top: 135px;
      left: 411px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      background-size: 134px 56px;
      top: 67px;
      left: 33px;
    }
  }

  &__item-title--pro::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 53px;
    background-color: $bg-basic-green;
    border-radius: 50%;
    top: 22px;
    left: 20px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      top: 92px;
      left: 445px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  &__item-text {
    color: $special-dark;
    padding: 0 33px 0 20px;
    margin: 0 0 38px;
    position: relative;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
      color: $dark;
      width: 422px;
      padding-left: 52px;
      margin-bottom: 48px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 61px 0 52px;
      width: 100%;
      margin-bottom: 23px;
    }
  }

  &__item-text::after {
    content: "";
    position: absolute;
    width: 240px;
    height: 1px;
    background-color: $line-border;
    left: 20px;
    bottom: -20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__item-link {
    display: block;
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 16px;
    color: $dark;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 50px 0 20px;
    margin-bottom: 18px;
    position: relative;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
      padding-left: 52px;
      margin-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 55px;
    }
  }

  &__item-link::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    mask-image: url("../../icons/stack.svg#icon-arrow");
    mask-repeat: no-repeat;
    mask-size: 24px 12px;
    background-color: $dark;
    top: 50%;
    transform: translateY(-50%);
    left: 120px;

    @media (min-width: $tablet-width) {
      left: 185px;
    }
  }

  &__item-link:hover {
    color: #f25b00;

    &::after {
      background-color: #ff0000;
    }
  }
}
