.programs {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-width) {
      flex-direction: row;
    }
  }

  &__item {
    background-color: $bg-button-special;
  }

  &__item-title {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: $dark;
    text-transform: uppercase;
    margin: 0 0 30px;
    padding-left: 40px;
    position: relative;
  }

  &__item-title--slim::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#icon-cat-catalog-slim");
    background-repeat: no-repeat;
    background-size: 36px 50px;
    width: 36px;
    height: 50px;
    left: 10px;
  }

  &__item-title--pro::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#icon-cat-catalog-pro");
    background-repeat: no-repeat;
    background-size: 67px 28px;
    width: 67px;
    height: 28px;
    left: 0;
  }

  &__item-text {
    margin: 0 0 38px;
  }

  &__item-link {
    display: block;
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 16px;
    color: $dark;
    margin-bottom: 18px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 12px;
      mask-image: url("../../icons/stack.svg#icon-arrow");
      mask-repeat: no-repeat;
      mask-size: 24px 12px;
      background-color: $dark;
    }

    &:hover {
      color: #ff0000;

      &::after {
        background-color: #ff0000;
      }
    }
  }
}
