.slider {
  position: relative;
}

.slider__box {
  position: absolute;
  top: 0;
  left: 0;

  &--before {
    width: 280px;
    height: 256px;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);

    @media (min-width: $tablet-width) {
      width: 560px;
      height: 512px;
    }
  }

  &--after {
    width: 280px;
    height: 256px;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);

    @media (min-width: $tablet-width) {
      width: 560px;
      height: 512px;
    }
  }
}

.slider__button {
  display: block;
  cursor: pointer;
  position: absolute;
  width: 4px;
  height: inherit;
  background-color: $special-grey;
  border-radius: 2px;
  padding: 0;
  border: none;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $light;
    border: 2px solid $special-grey;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("../../icons/stack.svg#icon-slider-arrows");
    mask-size: 24px 18px;
    mask-repeat: no-repeat;
    background-color: $special-grey;
  }
}

.slider__button:hover {
  background-color: $bg-basic-green;
}

.slider__button:hover::before {
  border: 2px solid $bg-basic-green;
}

.slider__button:hover::after {
  background-color: $bg-basic-green;
}

.slider__button:active {
  opacity: 60%;
}

.slider__button:active::before {
  border: 2px solid $bg-basic-green;
}

.slider__button:active::after {
  background-color: $bg-basic-green;
}
