.social {
  background-color: $bg-button-special;
}

.social__item {
  width: 28px;
  height: 22px;
}

.social__link {
  cursor: pointer;
  color: $special-grey;
}

.social__link:hover {
  color: $bg-basic-green;
}

.social__link:active {
  opacity: 0.3;
}
