.social {
  &__item {
    width: 28px;
    height: 22px;
  }

  &__link {
    cursor: pointer;
  }

  &__link path {
    fill: $special-grey;
  }

  &__link:hover path {
    fill: $bg-basic-green;
  }

  &__link:active {
    opacity: 0.3;
  }
}
